.banner__image {
  background: #0020f6 url("https://www.specbee.com/themes/custom/specbee/assets/media/webp/billboard-bg-light.webp") no-repeat 50%;
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
}
.banner__wrapper {
  padding: 0 20px;
  margin-bottom: 5rem;
}
.banner-head {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #fff;
  padding-top: 3.5rem;
  text-transform: uppercase;
  line-height: 1;
}
.banner-text {
  color: #fff;
  margin: 0 auto 1.75rem;
}
.banner-btn {
  margin-top: 3.5rem;
}
.banner-link {
  background-color: #e3f307;
  border: 0.0625rem solid #e3f307;
  color: #0020f6;
  text-decoration: none;
  padding: 8px 40px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 4px;
  letter-spacing: 2px;
}
.banner-link:hover {
  background-color: #0020f6;
  border: 1px solid #e3f307;
  color: #e3f307;
}
.banner__pic img {
  max-width: 100%;
}
.banner__title-sec {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 0.125rem;
}
.banner__title-sec::after {
  background-color: #e3f307;
  content: "";
  display: block;
  height: 0.3125rem;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 3.75rem;
}