header {
  background-color: blue;
  padding: 0 20px;
}
header li {
  list-style: none;
}
header li a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-branding {
  font-size: 2rem;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.navbar-link {
  transition: 0.3s ease-out;
  font-size: 1.25rem;
}
.navbar-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}
@media (min-width: 425px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

@media (min-width: 425px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: blue;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}