@use './abstracts';

header{
    background-color: abstracts.$primary-blue;
    padding: 0 20px;

    li{
      list-style: none;

    a{
      color: abstracts.$white;
      text-decoration: none;
      font-size: 1.5rem;
      letter-spacing: .125rem;
      line-height: 1.25;
    }
  }
}

  .navbar{
    min-height: 70px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  &-branding{
    font-size: 2rem;
  }
  &-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

  }

  svg {
    fill: abstracts.$white;
  }

  &__contact {
    display: flex;
    width: 70px;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      width: 80px;
    }
    @media screen and (min-width: 1024px) {
      width: 160px;
      svg {
        display: none;
      }
    }


  }

}
  .hamburger{
    cursor: pointer;


    &.active .bar:nth-child(2){
        opacity: 0;
      }
    &.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
    &.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }
  }

  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: abstracts.$white;
  }

  @media(min-width:425px){

  .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: abstracts.$primary-blue;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
  .nav-item{
      margin: 20px 0;

      &:first-child::before {
        content: "";
        height: 0.25rem;
        width: 60px;
        position: absolute;
        left: 0;
        top: 30px;
        background-color:abstracts.$yellow;
  }

  a:hover {
    color: abstracts.$yellow;
  }

    }
  .nav-menu.active{
      left: 0;
      position: absolute;
    }
  }
.nav-menu__sub-menu {
  display: none;
}

.nav-menu__sub-menu.active {
  display: block;
}
.sub-link {
  font-size: 1rem;
}
.contact-link {
  display: block;
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
    @include abstracts.button;
    padding: 0.5rem;
    text-transform: uppercase;
  }

}

.hamburger__inner {

  & .bar:nth-child(1){
    rotate: 90deg;
    transform: translateX(7px);
  }
  &.active .bar:nth-child(1){
    opacity: 0;
  }
}