@use './abstracts';

.insights {
    background-color: abstracts.$primary-blue;
    padding-top: 128px;

    &__heading {
        color: abstracts.$white;
        font-size: 2rem;
        font-weight: bold;

        @media screen and (min-width:768px) {
            font-size: 2.8125rem;
        }

        @media screen and (min-width:1024px) {
            font-size: 4.0625rem;
            padding: 0 20px;
        }

        @media screen and (min-width:1326px) {
            padding: 0;
            margin-left: -20px;
        }



        &::before {
            content: "";
            height: 0.75rem;
            width: 35px;
            display: inline-block;
            margin-bottom: 15px;
            vertical-align: middle;
            margin-right: 1rem;
            background-color: abstracts.$yellow;

            @media screen and (min-width:1024px) {
                display: none;
            }

            @media screen and (min-width:1326px) {
                content: "";
                height: 0.75rem;
                width: 80px;
                display: inline-block;
                margin-bottom: 15px;
                vertical-align: middle;
                margin-right: 3rem;
                background-color: abstracts.$yellow;
            }
        }
    }
    &__text {
        color: abstracts.$white;
        font-size: 1rem;
        line-height: 1.65;
        padding: 40px 20px;

        @media screen and (min-width:1024px) {
            width: 560px;
            margin-bottom: 30px;
        }
        @media screen and (min-width:1326px) {
            padding: 0 120px;
            margin-bottom: 70px;
            margin-top: 30px;
            width: 630px;
            font-size: 1.125rem;
        }

    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        padding-bottom: 3.5rem;


        @media screen and (min-width:1024px) {
            flex-direction: row;
            gap: 20px;
            justify-content: center;
        }

        @media screen and (min-width:1326px) {
            padding: 0 120px;
        }


    }
    &__cards {
        background-color: #fff;
        margin-bottom: 20px;

        img {
            width: 100%;
        }

        @media screen and (min-width:1024px) {
            // width: 24.4rem;
            // padding: 0;
            overflow: hidden;
        }
        &:hover {
            cursor: pointer;
            img {
                transform: scale(1.2);
                transition: all .25s ease-in-out;
            }
        }
    }

    &__content {
        padding: 20px;
    }
    &__title {
        color: abstracts.$primary-blue;
        position: relative;
        width: 80%;
        text-transform: uppercase;
        line-height: 1.5;

        @media screen and (min-width:1024px) {
            width: 200px;
        }
        @media screen and (min-width:1326px) {
            width: 280px;
        }
        &::after {
            position:absolute;
            content: "";
            height: 0.25rem;
            width: 70px;
            display: inline-block;
            right: -88px;
            top: 5%;
            background-color: abstracts.$yellow;

            @media screen and (min-width:768px) {
                right: -154px;
            }
            @media screen and (min-width:1024px) {
                right: -94px;
            }
            @media screen and (min-width:1326px) {
                right: -90px;
            }
        }
    }

    &__desc {
        font-size: 12px;
        margin-top: 10px;
        font-weight: bold;
    }
}
